Repository ciromattia/kcc, pull requests merged in 2024-01, with the labels that each got.

#656 hide subprocess consoles on Windows
  kindlecomicconverter/KCC_gui.py
  kindlecomicconverter/comic2ebook.py
  kindlecomicconverter/comicarchive.py
  kindlecomicconverter/shared.py
Labels: Windows

#655 rename and reorder kindle models by generation
  kindlecomicconverter/KCC_gui.py
Labels: GUI, Kindle

#523 Add native Apple Silicon support by upgrading qt5 to qt6
  .github/workflows/package-linux.yml
  Dockerfile
  Dockerfile-base
  gen_ui_files.bat
  gen_ui_files.sh
  kindlecomicconverter/KCC_gui.py
  kindlecomicconverter/KCC_rc.py
  kindlecomicconverter/KCC_ui.py
  kindlecomicconverter/KCC_ui_editor.py
  kindlecomicconverter/comic2ebook.py
  kindlecomicconverter/comic2panel.py
  kindlecomicconverter/shared.py
  requirements.txt
  setup.py
Labels: Enhancement, macOS, GUI, dependencies, documentation, Docker
